* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fpass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  font-size: 1.9rem;
}
.parent {
  padding: 0.8rem;
  margin: 2rem;
}
.children {
  margin-bottom: 15rem 5rem;
}
.enter {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
}
.email-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  width: 100%;
}
.remember {
  display: flex;
  gap: 8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.send {
  background-color: navy;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 4px;
}

@media (max-width: 465px) {
  .parent {
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
  }
}
