* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
}
.children {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 45px;
  border-radius: 20px;
  background-color: #fff;
}
.fpass-desc h2 {
  text-align: center;
  margin-bottom: 0.7em;
  /* font-size: 2rem; */
}
.fpass-desc p {
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
}
.email-input {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1.5rem;
}
.btn-wrapper {
  display: flex;
  gap: 8rem;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.send {
  background: #053582;
  padding: 13px 23px;
  border-radius: 10px;
  color: white;
  border: none;
}





@media (max-width: 400px) {
  .parent {
    margin: 1rem;
  }
}
